<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" [nzTheme]="'dark'" >
    <div class="logo-fa">
      <div class="logo" *ngIf="!isCollapsed">南郭闲笙</div>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzTitle="鄙人" nzIcon="user">
        <ul>
          <li nz-menu-item routerLink="./my-usage" (click)="changeComponentName('鄙人','用量')">用量</li>
<!--          <li nz-menu-item routerLink="./achievement" (click)="changeComponentName('鄙人','功勋')">功勋</li>-->
<!--          <li nz-menu-item routerLink="./purchase" (click)="changeComponentName('鄙人','购买')">购买</li>-->
        </ul>
      </li>
      <li nz-submenu nzTitle="网站" nzIcon="team">
        <ul>
          <li nz-menu-item routerLink="./today" (click)="changeComponentName('网站','今日流量')">今日流量</li>
          <li nz-menu-item routerLink="./interfaces" (click)="changeComponentName('网站','总接入')">总接入</li>
        </ul>
      </li>
      <li nz-menu-item (click)="showModal()">
        <i nz-icon nzType="file"></i>
        <span>使用手册</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="my-info">
        <nz-avatar nzIcon="user" nzSrc="{{customAvatar}}"></nz-avatar>
        <span class="my-nickname">{{customNickName}}</span>
        <i nz-icon nzType="logout" nzTheme="outline" (click)="outline()"></i>
      </div>
    </nz-header>
    <nz-modal [(nzVisible)]="isVisible" nzTitle="使用手册" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
      <p>第一步：注册并登陆网站账号</p>
      <p>第二步：保证网站账号在线状态（只要不点击主页昵称旁边的退出按钮，即使关闭网页也不会退出）</p>
      <p>第三步：发送GET请求地址为:http://api.ngxs.ink/get/你的邮箱地址</p>
    </nz-modal>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>{{ulname}}</nz-breadcrumb-item>
        <nz-breadcrumb-item>{{componentName}}</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>
      <a href="http://beian.miit.gov.cn">南郭闲笙&nbsp;&nbsp;©2019&nbsp;Founded&nbsp;by&nbsp;ljccccccccccc@163.com</a>
      <br/>
      <a href="http://beian.miit.gov.cn">陕ICP备18009783号-2</a>
    </nz-footer>
  </nz-layout>
</nz-layout>
