@imgUrl : "/src/assets/img";

#welcome-background {
  width : 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("../../assets/img/bg1.jpg");
  #welcome-layer:extend(#welcome-background){
    background: rgba(0, 0, 0, 0.50);
  }
}

#beian {
  width: 450px;
  display: block;
  position: absolute;
  z-index: 999;
  left: calc(~'(100vw - 450px)/2');
  bottom: 1vh;
  text-align: center;
  a{
    cursor: pointer;
    color: white;
  }
}
