<table>
  <tr>
    <td colspan="2">
      <div>南郭闲笙</div>
    </td>
  </tr>
  <!--邮箱-->
  <tr id="email">
    <td>
      <nz-input-group [nzSuffix]="suffixEmail" [nzPrefix]="prefixEmail">
        <input type="text" nz-input placeholder="邮箱" [(ngModel)]="poetryCustom.customEmail" />
      </nz-input-group>
      <ng-template #prefixEmail><i nz-icon nzType="mail"></i></ng-template>
      <ng-template #suffixEmail
      ><i nz-icon nz-tooltip nzTitle="邮箱用作登陆账号，请慎重填写！" nzType="info-circle"></i
      ></ng-template></td>
    <td><button nz-button>发送验证码</button></td>
  </tr>
  <!--验证码-->
  <tr>
    <td colspan="2">
      <nz-input-group [nzSuffix]="suffixVerification" [nzPrefix]="prefixVerification">
        <input type="text" nz-input placeholder="验证码" [(ngModel)]="poetryCustom.customVerificationCode" />
      </nz-input-group>
      <ng-template #prefixVerification><i nz-icon nzType="bell"></i></ng-template>
      <ng-template #suffixVerification
      ><i nz-icon nz-tooltip nzTitle="若未收到验证码，请30秒后重试！" nzType="info-circle"></i
      ></ng-template></td>
  </tr>
  <!--密码-->
  <tr>
    <td colspan="2">
      <!--密码-->
      <nz-input-group [nzSuffix]="suffixPassword" [nzPrefix]="prefixPassword" >
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          nz-input
          placeholder="密语"
          [(ngModel)]="poetryCustom.customPassword"
        />
      </nz-input-group>
      <ng-template #prefixPassword><i nz-icon nzType="key"></i></ng-template>
      <ng-template #suffixPassword>
        <i nz-icon [nzType]="passwordVisible ? 'eye' : 'eye-invisible'" (click)="passwordVisible = !passwordVisible" [nz-tooltip]="passwordVisible ? '隐去隐去':'示我以密语'"></i>
      </ng-template></td>
  </tr>
  <!--昵称-->
  <tr>
    <td colspan="2">
      <nz-input-group [nzSuffix]="suffixNickname" [nzPrefix]="prefixNickname">
        <input type="text" nz-input placeholder="名号" [(ngModel)]="poetryCustom.customNickName"/>
      </nz-input-group>
      <ng-template #prefixNickname><i nz-icon nzType="user"></i></ng-template>
      <ng-template #suffixNickname
      ><i nz-icon nz-tooltip nzTitle="所谓名号即昵称，可修改。" nzType="info-circle"></i
      ></ng-template></td>
  </tr>
  <!--头像-->
  <tr>
    <td>
      <label>良禽择木而栖<br/>良臣择主而事<br/>良人择美图以自喻</label>
    </td>
    <td>
      <nz-upload
        class="avatar-uploader"
        nzAction="https://jsonplaceholder.typicode.com/posts/"
        nzName="avatar"
        nzListType="picture-card"
        [nzShowUploadList]="false"
        [nzBeforeUpload]="beforeUpload"
        (nzChange)="handleChange($event)"
      >
        <ng-container *ngIf="!avatarUrl">
          <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
          <div class="ant-upload-text">Upload</div>
        </ng-container>
        <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar" />
      </nz-upload></td>
  </tr>
  <tr>
    <td><button nz-button nzType="default" (click)="backtologin()">去登陆</button></td>
    <td><button nz-button nzType="default" (click)="registeSubmit()">注册</button></td>
  </tr>
</table>
